mixin card(img, title, text, button)
        li.card.anim-show
                img.photo(src='./img/' + img + '.webp' alt='Img')
                h5 #{title}
                p #{text}
                a(href="#!") 
                        button.btn #{button}
