.svg-search {
        width: remy(20);
        height: remy(20);
        fill: rgb(218, 167, 25);
        transform: rotate(90deg);
}
.svg-xms {
        width: remy(20);
        height: remy(20);
        fill: rgb(218, 167, 25);
}
