.header {
        background-color: rgb(75, 97, 38);
        padding: remy(20) remy(20);
        font-size: remy(25);
        color: #b1b0b0;
        box-shadow: 0 remy(5) remy(15) rgba(4, 24, 1, 0.45);
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

}
.logo {
        z-index: 1;
        color: rgb(218, 167, 25);
}
.nav {
        display: flex;
        align-items: center;
        gap: 60px;
        color: rgb(218, 167, 25);
        @media (max-width: remy(991)) {
                display: none;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgb(75, 97, 38);
                flex-direction: column;
                padding-block: remy(160);
                &.active {
                        display: flex;
                }
        }
}
.search-open {
        display: flex;
        align-items: center;
        column-gap: remy(16);
        span {
                color: rgb(218, 167, 25);
                z-index: 1;
        }
        transition: .3s;
        &:hover {
                opacity: 0.7;
        }
}
